 <mat-toolbar class="toolbar">
     <mat-nav-list>
         <mat-list-item>
             <!--  Insert logo-->
             <a mat-button disableRipple routerLink="/tutorials" class="nav-link" routerLinkActive="active" ariaCurrentWhenActive="page">
                 <img [src]="logoPath" alt="logo" id="logo"/>
             </a>
         </mat-list-item>
     </mat-nav-list>
</mat-toolbar>

 <!-- Todo: Add button on the right bottom -->
 <button mat-icon-button class="add-button" routerLink="add" >
     <mat-icon class="add-icon">add</mat-icon>
 </button>

<div class="container mt-3">
    <router-outlet />
</div>