/*  Colors */
$primary-color: #062D3F;
$secondary-color: #3598DB;

$custom-gray: #00000099;
$light-grey: #eef2f4;

$title-color: #0f1f33;

/* Buttons */
$button-color: #16608a;
$inline-button-color: #2b5272;

.toolbar {
  background-color: $primary-color;
}